@media only screen and (max-width: 768px) {

    .category-container {
        padding: 0 1rem;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(16, 8vw);
    }
    .earrings {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .necklace {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .rings {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 9;
    }

    .bracelet {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 9;
    }

    .new_arrivals {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 17;
    }
}

@media only screen and (min-width: 769px) and (max-width: 989px) {
    .category-container {
        padding: 0 2rem;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 8vw);
    }
    .earrings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .necklace {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .rings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .bracelet {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .new_arrivals {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}

@media only screen and (min-width: 990px) {
    .category-container {
        padding: 0 2rem;
        max-width: 90%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 8vw);
    }

    .earrings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .necklace {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .rings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .bracelet {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .new_arrivals {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .category-container {
        padding: 0 5rem;
        max-width: 85%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 8vw);
    }

    .earrings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .necklace {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .rings {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .bracelet {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .new_arrivals {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}