@media only screen and (max-width: 768px) {
    .shop-all-page{
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 989px) {
    .shop-all-page {
        padding: 0 2rem;
    }
}
@media only screen and (min-width: 990px) {
    .shop-all-page {
        padding: 0 3.5rem;
        /*max-width: 90%;*/
    }
}

@media only screen and (min-width: 1280px) {
    .shop-all-page {
        padding: 0 5rem;
        /*max-width: 85%;*/
    }
}