@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  /*background-color: #dfe4ea;*/
}



.App {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

}

/*mobile devices*/
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .main-container {
       width: 95%;
    }
}

/* ipads & tablets / smaller */
@media only screen and (min-width: 768px) {
    .main-container {
        width: 80%;
    }
}

 /*laptops*/
@media only screen and (min-width: 990px) {
    .main-container {
        width: 72%;
    }
}

/* desktops */
@media only screen and (min-width: 1280px) {
    .main-container {
       width: 60%;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
