/* ipads & tablets / smaller */
@media only screen and (max-width: 639px) {
    .cart-page {
        width: 100%;
    }
}

@media only screen and (min-width: 640px) {
    .cart-page {
        width: 420px;
    }
}

.loading {
    width: 100%;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.cart-product-title-link {
    text-decoration: none;
    color: inherit;
}